<main>
  <h1>Reset Your Password</h1>
  <h3>Hello <%= @resource.email %>!</h3>
  <p>Use the link below to reset your login password:</p>
  <%=link_to "Password reset link", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>
</main>

