<div class="burning-candles">
    <div class="row">
        <div class="col-12 py-4">
            <%= image_tag 'candles-for-me.gif', class: 'img-fluid rounded', alt: 'Responsive GIF' %>
        </div>

        <div class="">
            <%= link_to new_hero_path, class: "btn btn-primary mb-3" do %>
                <i class="bi bi-plus-square-fill"></i> Add New Hero
            <% end %>
        </div>

    </div>
</div>