 /*Header*/
  #fire-icon {
    color: #FF4500; /* Orange-red color for the fire */
    animation: flicker 1s infinite alternate;
  }
  
  @keyframes flicker {
    0% { color: #FF4500; } /* Orange-red */
    50% { color: #FFD700; } /* Gold */
    100% { color: #FF4500; } /* Orange-red */
  }
  
  #logo {
    margin-right: 10px;
    font-size: 1.7em;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: #FF4500;
      text-decoration: none;
    }
  }